CMakeFiles/
Makefile
*.cmake
CMakeCache.txt
*.o
*.a
*.exe
vectordemo
regexdemo
swapdemo
searchdemo
customcmpsearch
posixeredemo
globalctors
structdemo
bitfield
factor
squareroot
binarysearch
cpudemo
.*.swp
